@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #a34646;
    background-color: #28262c;

}

p {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: xx-large;
}

/* header and logo styling */

h1,
h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a34646;

}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 15px;

}

/* hero image*/

#hero-image {
    height: 969px;
    max-width: 100%;
    /*background: url('../images/hero-imagetest.jpg') center center no-repeat;*/
    background: url(..//svg/hero_image_index.svg) center center no-repeat;
    background-size: cover;
}

#hero-image>h2 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #28262c;
    font-size: 150%;
}

/* nav links*/

#menu {
    font-size: 110%;
    list-style-type: none;
    margin-right: 40px;
    color: #a34646;

}



#menu,
#logo {
    line-height: 50px;
}

nav ul {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #353535;
}

.active {
    border-bottom: 1px solid #353535;
}


/* Index Section styling */

#intro {
    padding: 40px 40px;
}

#intro>h1 {
    padding: 92px 0 0 40px;
}

.outer-div {

    height: 600px;
    width: 100%;

    display: flex;

    align-content: center;
    justify-content: center;
    margin: 70px 0;


}



.outer-div h2 {

    padding: 30px 0 0 0px;
}

.outer-div>div {

    height: 500px;
    align-items: center;
    width: 100%;
    padding: 30px 30px 30px 30px;
    margin: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: xx-large;





}

.outer-div>p {
    text-align: center;
    display: block;
}

#war-timeline {
    padding: 30px;
}

#europe-graph {

    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;


    background: url(..//images/graph_1-100.jpg) center center no-repeat;
}

#asia-graph {

    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;


    background: url(..//images/graph_1-100.jpg) center center no-repeat;
}

#war-timeline>p {
    text-align: left;
    width: 508px;




}

#war-casualties {
    padding: 30px;
}



#war-casualties>p {
    text-align: left;
    width: 508px;
}

/* Events hero image styling*/

#hero-image-events {
    height: 765px;
    max-width: 100%;
    background: url(..//images/hero-image2-100.jpg) center center;
}

/* Events Section styling*/

#scenarios {
    height: 600px;
    width: 100%;

    display: flex;

    align-content: center;
    justify-content: center;
}

#scenarios>div {
    height: 500px;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin: 25px;



    background-color: #eeeeee;
}

#scenarios>h2 {
    font-weight: 400;
}


/* Footer */

footer {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #af5454;
}