@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&family=Sofia+Sans:wght@400;500;600;700&display=swap');




* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #bf5858;
    background-color: #28262c;

}



p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: x-large;
}

section {
    width: 100%
}

a {
    text-decoration: none;
}



/* arrow styling*/

.arrow-down {
    text-align: center;
    margin: 5rem 0;

}

.arrow-up {
    text-align: center;
    margin: 5rem 0;
    text-decoration: none;

}



/* header and logo styling */

h1,
h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bf5858;
    font-size: 4rem;



}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 15px;
    padding-top: 1px;
    text-decoration: none;
}

.menu {
    float: right;
}

.hamburger {
    position: relative;
    display: block;
    width: 40px;

    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 9999;
    float: right;


}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e17777;
    margin: 4px 0px;
    transition: 0.4s;

}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-2px, 1px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #a34646;
    padding-top: 100px;
    transition: 0.4s;


}

.mobile-menu.is-active {
    left: 0;
}

.mobile-menu li {
    color: #28262c;
    text-align: center;
    margin-bottom: 12px 16px;

}

.mobile-menu li:hover {
    background-color: #d67070;
}



/* hero image*/




#hero-container {

    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    background: url(..//svg/hero-image.svg) center center no-repeat;
    background-size: cover;

}

.fade-in {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#hero-image>h2 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #28262c;
    font-size: 3rem;
}

/* nav links*/

.menu {
    font-size: 110%;
    list-style-type: none;
    margin-right: 40px;
    color: #bf5858;
    overflow: hidden;



}



.menu,
#logo {
    line-height: 50px;
    font-weight: 700;

}

nav ul {
    float: right;
}

.menu li {
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #bf5858;
}

.active {
    border-bottom: 1px solid #bf5858;
}


/* Index Section styling */

.outer-div {
    display: flex;
    align-items: center;
    min-height: 50rem;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.intro-h3 {
    padding-left: 30px;
    font-size: 2rem;
}

.outer-div>div>p {
    padding: 30px;
}

.section-h1 {
    margin: 2rem;
}

.outer-div>div {
    min-height: 50rem;

}



.intro-image {
    height: 500px;
    width: 100%;

}

/* Graph section */

.section_container>p {
    padding: 2rem;
}

/* Events hero image styling*/

#hero-image-events {
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    background: url(..//svg/events-hero.svg) center center no-repeat;
    background-size: cover;
}

/* Events Section styling*/

.introduction {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
}

.introduction>p {
    padding: 3rem;
}

.scenarios {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    gap: 1rem;


}

.scenarios>div {
    flex-direction: row;
}

.scenarios>h2 {
    margin: 2rem;
}



.scenarios>p {
    padding: 3rem;
}

.scenarios>img {
    max-height: 500px;
    max-width: 500px;
}



/* Sources styling */

#sources {
    padding-top: 100px;
    min-height: 80vh;
    max-width: 90vw;
    padding-left: 30px;
}

.source-container {
    display: flex;
    flex-direction: column;


}

.source-link {
    font-size: 2.5rem;
}



.source-container>div>a {
    text-decoration: none;
}

.source-link:hover {
    border-bottom: 1px solid #a34646;
}

/* Form styling */

#register-section {
    padding-top: 5rem;
}

.register-intro {
    display: flex;
    flex-direction: column;
}

.register-intro>p {
    text-align: center;
    padding-top: 20px;
}

#register-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 90vw;
    justify-content: center;
}

#register-h1 {
    text-align: center;
}

.form-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

#form-image {
    width: 500px;
    height: 500px;
}

form input {

    background-color: #eeeeee;
    min-height: 25px;

}

button {
    margin-top: 30px;
    padding: 10px;
    color: #28262c;
    background-color: #a34646;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

button:hover {
    background-color: #d67070;
}

/* Response styling */

#response {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#response-image {
    height: 100%;
    width: 100%;


}



/* Footer */

footer {
    height: 100px;
    background-color: #a34646;
    color: #28262c;


}

.links>li {
    color: #28262c;
    display: inline;

}

.fa-brands:hover {
    color: #d67070;
}

.fa-brands {
    color: #28262c;
    font-size: xx-large;
    padding: 0 1rem;

}

footer>ul {
    list-style: none;
}

.links {
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding-top: 30px;

}




/* Media queries*/



@media screen and (max-width: 1200px) {

    /* Arrows */

    #arrow-down {
        text-align: center;
        margin: 2rem 0;
    }

    /* Hero Image Index */

    #hero-container {
        height: 58vh;
    }

    #hero-image>h2 {
        font-size: 2.5rem;

    }

    /* Logo/Nav */

    #logo {
        float: none;
        text-align: center;
        text-decoration: none;
        padding: 0;
    }

    .menu {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0;

    }

    /* Introduction */

    .section-h1 {
        padding: 0;
        font-size: 3rem;
    }




    .outer-div {
        flex-direction: column;
        padding: 0;
        min-height: 30rem;


    }

    .outer-div>div {
        min-height: 30rem;
    }

    #casualties-container {
        float: left;
    }

    #hero-image-events {
        height: 58vh;
    }



    .scenarios {
        flex-direction: column-reverse;
        gap: 0;

    }

    #form-image {
        width: 300px;
        height: 300px;
    }

}


/* For medium screen sizes from 500px wide and down */

@media screen and (max-width: 500px) {

    /* Arrows */

    .arrow-up {
        margin: 0;
        padding-bottom: 30px;
        font-size: medium;
        text-decoration: none;
    }

    /* Nav/Menu */

    #nav-menu {
        display: none;
    }


    .menu {
        float: none;
        text-align: center;
        padding: 0;


    }

    /* Index Hero Image */

    #hero-container {
        height: 30vh;
    }

    #hero-image>h2 {
        font-size: 1.2rem;
        padding-left: 10px;
        bottom: 0;
        left: 0;
    }

    .intro-text {
        padding: 0px 20px;

    }

    .section_container>h1 {
        font-size: 2rem;
    }

    .section_container>p {
        font-size: medium;
        padding: 10px;
    }



    /* Events */

    #hero-image-events {
        height: 30vh;
    }

    .introduction>p {
        padding-left: 10px;
        font-size: large;
        min-width: 80vw;
    }

    .scenarios {
        flex-direction: column-reverse;

        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
        min-height: 0;


    }

    .scenarios>p {
        padding: 10px;
        font-size: large;
    }

    /* Sources */

    #sources {
        padding-top: 40px;
        min-height: 80vh;
        padding-left: 20px;
        max-width: 90vw;
    }

    .source-link {
        font-size: 1.5rem;
        padding-top: 10px;
    }

    .source-container>div>p {
        font-size: large;
        padding-top: 10px;
    }

    /* Registration */

    #register-container {
        flex-direction: column-reverse;
        max-height: 75vh;
        width: 100vw;

    }

    .register-intro>p {
        font-size: large;
        padding-top: 20px;
        padding-left: 20px;
        min-width: 70vw;
        text-align: left;
    }




    .register-text {
        text-align: center;
        padding: 200px;
    }

    #register-h1 {
        padding: 30px;
    }

    #register-section {
        padding-top: 0;

    }



    #form-image {
        height: 150px;
        width: 150px;
        padding-top: 60px;

    }











}

@media screen and (max-width: 500px) {



    .menu {
        float: none;
        text-align: center;
        padding: 0;


    }

    /* Introduction */

    h1 {
        margin: 0;
        font-size: 2rem;
    }
}

@media screen and (min-width: 500px) {
    /* Mobile menu */

    .mobile-menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
}