@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #232323;
    background-color: #EEEEEE;
}

/* header and logo styling */

h1,
h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #353535;

}

#logo {
    float: left;
    font-size: 250%;
}