@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&family=Sofia+Sans:wght@400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #a34646;
    background-color: #28262c;

}

p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: x-large;
}

/* arrow styling*/

#arrow-down {
    text-align: center;
    margin: 5rem 0;

}

#arrow-up {
    text-align: center;
    margin: 5rem 0;

}



/* header and logo styling */

h1,
h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a34646;
    font-size: 4rem;



}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 15px;
    padding-top: 1px;


}

/* hero image*/

#hero-image {
    height: 969px;
    width: 100%;

    background: url(..//svg/hero_image_index.svg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#hero-image>h2 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #28262c;
    font-size: 3rem;
}

/* nav links*/

#menu {
    font-size: 110%;
    list-style-type: none;
    margin-right: 40px;
    color: #a34646;
    overflow: hidden;

}



#menu,
#logo {
    line-height: 50px;
    font-weight: 700;

}

nav ul {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #a34646;
}

.active {
    border-bottom: 1px solid #a34646;
}


/* Index Section styling */





.outer-div {
    display: flex;

    align-items: center;
    min-height: 50rem;
    margin: 0;
    padding: 0;
    gap: 1rem;



}

.section-h1 {
    margin: 2rem;
}

.outer-div>div {
    min-height: 50rem;

}

.outer-div>div>p {
    padding: 3rem;
    min-width: 300px;
}


.intro-image {
    height: 500px;
    width: 100%;

}










/* Graph section */

#europe-graph {

    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;


    background: url(..//svg/europe-graph.svg) center center no-repeat;
}



#casualties-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50rem;
    margin: 0;
    padding: 0;
    gap: 1rem;
}



#asia-graph {

    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;


    background: url(..//svg/asia-graph.svg) center center no-repeat;
}

#casualties-container>p {
    text-align: left;
    width: 1200px;
}





#war-casualties>p {
    text-align: left;
    width: 508px;
}

/* Events hero image styling*/

#hero-image-events {
    height: 969px;
    max-width: 100%;
    background: url(..//svg/events-hero.svg) center center no-repeat;
    background-size: cover;
}

/* Events Section styling*/

.scenarios {
    display: flex;

    align-items: center;
    min-height: 50rem;
    margin: 0;
    padding: 0;
    gap: 1rem;


}

.scenarios>div {
    flex-direction: row;
}

.scenarios>h2 {
    margin: 2rem;
}

.scenarios>img {
    width: 800px;
    height: 800px;
}

.scenarios>p {
    width: 900px;
    padding: 3rem;
}



/* Sources styling */

#sources {

    width: 1000px;
    display: flex;
    padding: 40px 40px 60px 40px;
    flex-direction: column;
    align-items: center;
}

#sources>h1 {
    text-align: justify;
}

#source-container {
    padding-right: 20px;
}

#source-container>div {
    text-align: left;
    padding: 20px 20px 20px 20px;
}

#source-container>div>a {
    text-decoration: none;
}

.source-link:hover {
    border-bottom: 1px solid #a34646;
}

/* Form styling */

#register-section {
    padding-top: 5rem;
}

#register-container {
    display: flex;
    align-items: center;
    min-height: 50rem;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-content: center;
}

#register-h1 {
    text-align: center;
}

#form-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

#form-image {
    width: 500px;
    height: 500px;
}

form input {

    background-color: #eeeeee;
    min-height: 25px;
    min-width: 200px;


}

button {
    margin-top: 30px;

    padding: 10px;
    color: #28262c;
    background-color: #a34646;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

button:hover {
    background-color: #d67070;
}

/* Response styling */

#response {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

#response-image {

    width: 1300px;
    height: auto;
}



/* Footer */

footer {
    height: 100px;
    background-color: #a34646;
    color: #28262c;


}

.links>li {
    color: #28262c;
    display: inline;

}

.fa-brands {
    color: #28262c;
    font-size: xx-large;
    padding: 0 1rem;

}

footer>ul {
    list-style: none;
}

.links {
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding-top: 30px;

}




/* Media queries*/

@media screen and (max-width: 1200px) {
    #intro {
        display: grid;

        margin: 0 auto;


    }

    #hero-image {
        width: 100%;
        margin: 0 auto;
    }

    #war-timeline {
        padding: 30px, 0;
        margin: 0;
    }
}